In [ ]:
d2 = {"name" : "ÄRC", "subject" : "pyhon"}

print(d2)
print(f"name: {d2['name']}")

{'name': 'ÄRC', 'subject': 'pyhon'}
name: ÄRC

In [8]:
d3 = {
    "time" : 7.30,
    "classname": "ARC20",
    "schoolname": "nutanclg",
    "city": "nagpur",
    "state": "MH",
    "country": "India"
    }
print("time:", d3["time"])
print("isclassname:", d3["classname"])
print("fromschoolname:", d3["schoolname"])
print("incity:", d3["city"])
print("instate:", d3["state"])
print("incountry:", d3["country"])

time: 7.3
isclassname: ARC20
fromschoolname: nutanclg
incity: nagpur
instate: MH
incountry: India

In [4]:
d3 = {
    "time" : 7.30,
    "classname" : "ARC20",
    "studentslist" : [ 1, 2, 3, 4, 5, 6, 7 ],
    "isclass" : True,
    "subjectData": {
        "Excel": True,
        "SQL" : True,
        "PowerBi" : True,
        "Python" : False,
        "DontKnow?" : False
        }}


print("time=", d3["time"])
print("From", d3["classname"])
print("class=", d3["isclass"])
print(f"studentslist: {d3['studentslist']}")
print(f"subjectData: {d3['subjectData']}")

time= 7.3
From ARC20
class= True
studentslist: [1, 2, 3, 4, 5, 6, 7]
subjectData: {'Excel': True, 'SQL': True, 'PowerBi': True, 'Python': False, 'DontKnow?': False}